@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(https://prayag17.github.io/Jellyfin-Icons/Icons/Round.woff2) format('woff2') !important;
}
