@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://prayag17.github.io/Jellyfin-Icons/Icons/Sharp.woff2) format('woff2') !important;
}
