@font-face {
    font-family: 'Material Icons Sharp Github';
    font-style: normal;
    font-weight: 400;
    src: url('https://prayag17.github.io/Jellyfin-Icons/Icons/Sharp.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons Sharp Github';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}